.countdown-timer {
    width: 400px;
    height: 100px;
    border: 2px solid black;

    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(#54c1ed, #21de99,#3290a3);
}

.countdown-timer span {
    margin-left: 2px;
    margin-right: 2px;
}

.two-numbers {
    width: 2ch;
}